.menu {

      @media (max-width:767px) {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: white;
      padding: 48px 40px;


      &.is-open {
        display: block;
      }
      }


     @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      flex-grow: 1;
     
    } 

    @media screen and (min-width: 1200px) {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
    }
  }
  
  .menu-btn {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
   
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  
  .menu-btn__icon-cross {
    display: none;
  }
  
  .menu-btn.is-open .menu-btn__icon-cross {
    display: block;
  }
  
  .menu-btn.is-open .menu-btn__icon {
    display: none;
  }