.menu {
    background-color: palegoldenrod;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // max-height: 768px;

    &.is-hidden{
visibility: hidden;
opacity: 0;
pointer-events: none;
    }
    
  
    @media screen and (max-width: 767px) {
    //   // display: none;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   max-height: 768px;
    //   // height: 100%;
  
      &.menu-btn--is-open {
        display: block;
      }
    }
  
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  
  .menu-btn {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 10;
  
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  
  .menu-btn__icon-cross {
    display: none;
  }
  
  .menu-btn--is-open .menu-btn__icon-cross {
    display: block;
  }
  
  .menu-btn--is-open .menu-btn__icon {
    display: none;
  }

   
//   .menu-nav {
//     @media screen and (min-width: 320px) {
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
    
//     }
  
//     @media screen and (min-width: 768px) {
//       display: flex;
//       align-items: center;
//     }
  
//     @media screen and (min-width: 1200px) {
//       display: flex;
//       align-items: center;
//     }
//   }
  
//   .site-nav__list {
//     @media screen and (min-width: 320px) {
//     }
  
//     @media screen and (min-width: 768px) {
//       display: flex;
//       align-items: center;
//       margin-left: 88px;
//     }
  
//     @media screen and (min-width: 1200px) {
//       display: flex;
//       align-items: center;
//       margin-left: 90px;
//     }
//   }
  
  .menu-nav__link {
    @media screen and (min-width: 320px) {
      display: block;
      padding-bottom: 32px;
      font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
     color: var(--title-text-color);
      text-decoration: none;
      transition: color 250ms var(--animation-timing);
    }
  
    &:hover,
    &:focus {
      color: var(--accent-text-color);
    }
    &:focus::after,
    &:hover::after {
      opacity: 1;
    }
  
    &::after {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-text-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      opacity: 0;
      transition: opacity 250ms var(--animation-timing);
    }
  }
  
  .site-nav__item {
    @media screen and (min-width: 768px) {
      position: relative;
    }
  
    @media screen and (min-width: 1200px) {
      position: relative;
    }
  }
  
  .site-nav__item:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-right: 50px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 50px;
    }
  }
  
  /* .site-nav .item:not(:last-child){
    margin-right: 50px;
    or 
    .site-nav .item + .item{
    margin-left: 50px;
  }
  } */
  // .site-nav__item + .site-nav__item {
  //   margin-left: 50px;
  // }
  
  .site-nav__link--current {
    color: var(--accent-text-color);
  
    &::after {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-text-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      opacity: 1;
    }
  }
  
  .menu-contacts {
    @media screen and (min-width: 320px) and (max-width: 767px) {
      margin-top: 270px;
    }
}
  
//     @media screen and (min-width: 768px) and (max-width:1199px) {
//       display: flex;
//       flex-direction: column;
//       margin-left: auto;
//        }
  
//     @media screen and (min-width: 1200px) {
//       display: flex;
//       margin-left:auto;
//     }
//   }
  
  /* .contacts__item + .contacts__item {
    margin-left: 30px;
  } */
//   .contacts__item:last-child {
//     @media screen and (min-width: 1200px) {
//       margin-left: 30px;
//     }
//   }
  
//   .contacts__item:not(:last-child) {
//     @media screen and (min-width: 768px) {
//       margin-bottom: 10px;
//     }
//     @media screen and (min-width: 1200px) {
//       margin-bottom: 0px;
//     }
//   }
  
  .menu-contacts__item {
    @media screen and (min-width: 320px) and (max-width: 767px){
      margin-bottom: 32px;
    }
}
  
//     @media screen and (min-width: 768px) {
//       display: flex;
//       align-items: center;
//     }
  
//     @media screen and (min-width: 1200px) {
//       display: flex;
//       align-items: center;
//     }
//   }
  
  .contacts__mail,
  .contacts__phone {
    @media screen and (min-width: 320px) and (max-width: 767px) {
      font-weight: 500;
      font-size: 24px;
      line-height: 1.16;
      letter-spacing: 0.02em;
      color: var(--primary-text-color);
      text-decoration: none;
  
    &:hover,
    &:focus {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
   color: var(--accent-text-color);
    }
    }
  
  
  .contacts__icon {
    @media screen and (min-width: 320px) and (max-width: 767px) {
      display: none;
    }
}
  
    .contacts__mail:hover &,
    .contacts__mail:focus &,
    .contacts__phone:focus &,
    .contacts__phone:hover & {
      fill: var(--accent-text-color);
    }
  }
  
  .contacts__mail-current {
    color: var(--accent-text-color);
  }
  
  @media (max-width:767px){
  .header-socials {
   display: flex;
  flex-direction: row;
  margin-top: 64px;
    }
  
    .header-socials__link{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color:var(--accent-text-color);
  text-decoration: none;
    }
  
    .header-socials__link::after{
    content: ' ';
    display: inline-block;
     width: 22px;
    height: 0px;
    border-radius: 2px;
    border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
    }
  }
  
  .header-socials{  
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  