/* Work */

.work {
  @media (max-width:1200px) {
    display: none;
    }
    
  padding-top: 0;
  padding-bottom: 94px;
}

.work__title {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.work__img {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.work__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.work__thumb {
  position: relative;
}

.work__pos {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  opacity: 1;
}

.work__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--button-text-color);
}

/* 
  .work-thumb::before{
    display: inline-block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 370px;
    height: 70px;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 1;
  } */
