:root {
  // text color//
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;

  // background
  --background-color: #ffffff;
  --second-background-color: #f5f4fa;
  --bcg-color-footer: #2f303a;

  // button
  --button-text-color: #ffffff;
  --button-text-secondary-color: #212121;
  --button-bcg-color: #2196f3;
  --button-secondary-bcg-color: #f5f4fa;

  --card-set-gap: 30px;

  --animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
}
